.todo {
  width: $hundred-percent;
  padding: 10px 30px;
  margin: 0px;

  font-family: $font-family-1;

  background-color: inherit;

  z-index: 2;

  overflow-wrap: break-word;

  p {
    padding: 0px;
    margin: 0px;
  }

  .message {
    font-family: inherit;
    color: $off-white-color;
    font-size: $home-font-size;

    padding-bottom: 10px;
    margin: 0px;

    //tablets - small devices only
    @media (min-width: 768px) {
      font-size: $home-font-size-tablet;
    }

    // desktops and above - medium and large devices
    @media (min-width: 992px) {
    }
  }

  .checkbox {
    width: 20px;
    position: relative;
    margin: 20px auto;
  }  
}

.todo-today {
  background-color: green;
}
